<h2>Are you sure you want to delete account of @(ViewBag.UserName)?</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="DeleteAccount" method="post">
            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-danger">Delete Account</button> |
                <a asp-controller="User" asp-action="Index">Back to List</a>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </form>
    </div>
</div>