@model RegisterViewModel

<h1>Register</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Real Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">Username</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control"/>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Register</button>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </form>
    </div>
</div>