@using BusinessLayer.DTOs.BookStore.Create;
@using BusinessLayer.DTOs.Address.View;
@using BusinessLayer.DTOs.User.View;
@model CreateBookStoreDto

<h1>Create Bookstore</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ManagerId" class="form-label"></label>
                @Html.DropDownListFor(m => m.ManagerId,
                         new SelectList(
                         from mngr in ((List<GeneralUserViewDto>)ViewBag.Managers)
                         select new
                         {
                             mngr.Id,
                             mngr.Name
                         },
                         "Id",
                         "UserName"),
                         new { @class = "form-select" })
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AddressId" class="form-label">Address</label>
                @Html.DropDownListFor(m => m.AddressId,
                         new SelectList(
                         from addr in ((List<GeneralAddressView>)ViewBag.Addresses)
                         select new
                         {
                             AddressId = addr.Id,
                             FullAddress = string.Format("{0}, {1}, {2}", addr.Street, addr.City, addr.State)
                         },
                         "AddressId",
                         "FullAddress"),
                         new { @class = "form-select" })
                <span asp-validation-for="AddressId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a asp-action="Index">Back to List</a>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
