
@{
    ViewData["Title"] = "Books";
}

@model List<BusinessLayer.DTOs.Book.View.GeneralBookViewDto>

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Genre</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.BookGenre</td>

            </tr>
        }
    </tbody>
</table>

