@using MVC.Models.Order;
@model OrderPaymentViewModel

<h1>Order Payment</h1>

<p>Your order with ID @Model.Id has been successfully paid.</p>
<p>Order State: @Model.OrderState</p>

<a asp-action="SingleUserOrders" asp-route-id="@Model.UserId">Back to Orders</a>
