@using MVC.Models.Order;
@model OrderRefundViewModel

<h1>Order Refund</h1>

<p>Your order with ID @Model.Id has been refunded.</p>
<p>Order State: @Model.OrderState</p>

<a asp-action="SingleUserOrders" asp-route-id="@Model.UserId">Back to Orders</a>
